<template id="header-template">
    <header>
        <div class="nav-bar">
            <div class="logo"><img src="./assets/images/logo.png" alt="nexsite-logo"></div>
            <div class="navlinks">
                <ul class="links">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="/about.html">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <div class="menu-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="4" y1="7" x2="20" y2="7" class="line-1"></line>
                        <line x1="4" y1="17" x2="20" y2="17" class="line-2"></line>
                    </svg>
                </div>
            </div>
        </div>
    </header>
</template> 